.about {
    display: grid;
    grid-column: full-start / center-end;
    text-align: center;
    margin: 7rem 0;
    font-family: $font-display;
    gap: 4rem;


    @include respond(phone){
        grid-column: 1 / -1;
        padding: 3rem;
    }

    &__header {
        font-weight: 400;
    }

    &__content {
        display: grid;
    }
    
    &__heading {
        text-transform: uppercase;
        font-size: 2.3rem;
        font-weight: 400;
        color: $color-primary-dark;
    }

    &__text {
        color: white;
        font-size: 1.7rem;
        margin-bottom: 3rem;
    }

    &__cryptoMarket{
        height: 40vh;
    }
}
