.activities{
    display: grid;
    padding: 8rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;

    .activity{
        display: grid;
        justify-content: center;
        justify-items: center;
        align-content: start;

        &__icon{
            font-size: 5rem;
            color: $color-primary;
            margin-bottom: .5rem;
        }

        &__text{
            font-size: 1.4rem;
        }
    }
}