.member{

    &__profit{
        border: none;
        outline: none;
        padding: .5rem 1rem;
        border-radius: 6rem;
        font-weight: bold;
        color: black;
        width: 10rem;
    }
}
